#menu {
  height: 100vh;
  overflow: auto;
  border: $spacer solid $body-bg;
  padding: $spacer;
  background: $white;
}

@import "Logo/logo";
@import "HowTo/howto";
@import "PlayerForm/playerform";
@import "CategorySelect/categoryselect";
@import "MenuButtons/menubuttons";
