#menu {
  height: calc(100vh - #{$spacer * 6});
  overflow: auto;
  padding: $spacer;
  background: $white;

  @media screen and (min-width: $screen-md) {
    height: calc(100vh - #{$spacer * 2});
  }
}

.menu__wrapper {
  padding: $spacer;
}

@import "Logo/logo";
@import "HowTo/howto";
@import "PlayerForm/playerform";
@import "CategorySelect/categoryselect";
@import "MenuButtons/menubuttons";
@import "MenuFooter/menuFooter";
