// Buttons

.btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: $btn-padding;
  margin: 0;
  border: 0;
  background-color: $c-text-light;
  color: $c-whiter;
  cursor: pointer;
  transition: backgound $animspeed;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:not([disabled]):hover {
    transition: backgound $animspeed;
    background-color: darken($c-text-light, $darken-percentage);
  }

  &.is-disabled {
    background-color: lighten(desaturate($c-text-light, 50%), 20%);
    color: darken($c-whiter, 20%);
    cursor: not-allowed;
  }

  &.btn-lg {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }

  &.btn-block {
    min-width: 300px;
    margin: 0 auto;
  }

  // Color modifiers
  &.btn-red {
    background-color: $c-red;
    color: $c-whiter;

    &:not([disabled]):hover {
      background-color: darken($c-red, $darken-percentage);
    }
  }

  &.btn-green {
    background-color: $c-green;
    color: $c-whiter;

    &:not([disabled]):hover {
      background-color: darken($c-green, $darken-percentage);
    }
  }
}
