// Categories

.category {
  color: $c-whiter;
  transition: background-color $animspeed;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4);

  &.is-checked {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%20363.03%20363.02%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M181.51%20363.02C81.43%20363.02%200%20281.6%200%20181.51%200%2081.42%2081.43%200%20181.51%200c100.08%200%20181.51%2081.42%20181.51%20181.51C363.03%20281.6%20281.6%20363.02%20181.51%20363.02zM181.51%2011.71C87.88%2011.71%2011.71%2087.89%2011.71%20181.51s76.17%20169.8%20169.8%20169.8c93.63%200%20169.8-76.17%20169.8-169.8S275.15%2011.71%20181.51%2011.71z%22%20fill%3D%22%23FFFFFF%22%20fill-opacity%3D%220.35%22/%3E%0A%20%20%20%20%3Cpolygon%20points%3D%22147.96%20258.94%2083.07%20194.05%2091.35%20185.77%20147.96%20242.38%20271.17%20119.17%20279.45%20127.45%20%22%20fill%3D%22%23FFFFFF%22%20fill-opacity%3D%220.25%22/%3E%0A%3C/svg%3E%0A);
    background-position: -0.7rem -0.7rem;
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
  }

  &:hover {
    transition: background-color $animspeed;
  }
}

.category__web {
  background-color: $c-red;

  &.has-hover:hover {
    background-color: darken($c-red, $darken-percentage);
  }
}

.category__animals {
  background-color: $c-orange;

  &.has-hover:hover {
    background-color: darken($c-orange, $darken-percentage);
  }
}

.category__people {
  background-color: $c-gold;

  &.has-hover:hover {
    background-color: darken($c-gold, $darken-percentage);
  }
}

.category__food {
  background-color: $c-lime;

  &.has-hover:hover {
    background-color: darken($c-lime, $darken-percentage);
  }
}

.category__things {
  background-color: $c-green;

  &.has-hover:hover {
    background-color: darken($c-green, $darken-percentage);
  }
}

.category__city-country {
  background-color: $c-turquoise;

  &.has-hover:hover {
    background-color: darken($c-turquoise, $darken-percentage);
  }
}

.category__cars {
  background-color: $c-sky;

  &.has-hover:hover {
    background-color: darken($c-sky, $darken-percentage);
  }
}

.category__movies {
  background-color: $c-blue;

  &.has-hover:hover {
    background-color: darken($c-blue, $darken-percentage);
  }
}

.category__literature {
  background-color: $c-pink;

  &.has-hover:hover {
    background-color: darken($c-pink, $darken-percentage);
  }
}

.category__sports {
  background-color: $c-purple;

  &.has-hover:hover {
    background-color: darken($c-purple, $darken-percentage);
  }
}
