// Intro

#intro {
  height: 100vh;
  overflow: auto;

  .intro__header {
    background: darken($c-bg, 5%);
    font-size: .8rem;
  }

  .lang__select {
    font-size: .9rem;
    text-transform: uppercase;
  }

  .intro__content {
    padding: 0 2vw;
  }

  .intro__app-name {
    margin: 8vh 0 5vh;
    padding-bottom: 8vh;
    border-bottom: 1px solid $c-text-lighter;

    h1 {
      margin: 0;
      text-align: center;
      font-size: 4rem;
      text-transform: uppercase;
    }

    p {
      text-align: center;
    }
  }

  .intro__how-to {
    padding: 0 3vw 5vh;
    margin-bottom: 5vh;
    border-bottom: 1px solid $c-text-lighter;
    color: $c-text-light;

    h3 {
      margin: 0 0 1vh;
    }

    ol {
      margin: 0;
      padding-left: 1rem;
      font-size: .9rem;

      li {
        margin-bottom: 1vh;
      }
    }
  }

  .intro__category-wrapper {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .intro__category {
      display: flex;
      flex: 1 1 20%;
      padding: 2rem 1rem;
      cursor: pointer;

      span {
        text-align: center;
        align-self: center;
        width: 100%;
        min-width: 150px;
      }
    }

    input[type="radio"] {
      display: none;
    }
  }

  .intro__setting-name,
  .intro__start {
    text-align: center;
  }

  .intro__setting-name {
    label {
      display: block;
      padding-bottom: .5rem;
    }
  }

  .intro__copy {
    font-size: .9rem;
    text-align: center;
    margin: 3rem 0 2rem;
    color: lighten($c-text-light, 20%);

    a {
      color: $c-text-light;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $c-text-light;
        text-decoration: underline;
      }
    }
  }
}
