// Variables

// Typo
$font-size-root: 14px;
$font-size-root-lg: 17px;
$font-size-base: 1rem;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Colors
$c-whiter: #FFF;
$c-white: #F9F7F7;
$c-bg: $c-white;
$c-text: #112D4E;
$c-text-light: #3F72AF;
$c-text-lighter: #DBE2EF;

$c-red: #E03E36;
$c-orange: #FF7B3D;
$c-gold: #FFD43D;
$c-yellow: #F5EF3B;
$c-lime: #96CC5E;
$c-green: #5ECC64;
$c-turquoise: #5ECCAD;
$c-sky: #3DB0FF;
$c-blue: #3D48FF;
$c-purple: #7D3DFF;
$c-pink: #AE31CC;
$c-rose: #CC3185;

$darken-percentage: 7%;

// Input
$input-bg: lighten($c-bg, 5%);
$input-border: darken($c-bg, 5%);
$input-border-hover: darken($c-bg, 10%);
$input-border-focus: $c-text-lighter;
$input-padding-x: 1.5rem;
$input-padding-y: 1rem;
$input-padding: $input-padding-y $input-padding-x;

// Animation
$animspeed: 250ms;

// Buttons
$btn-padding-x: 1.5rem;
$btn-padding-y: 1rem;
$btn-padding: $btn-padding-y $btn-padding-x;
