.game-buttons {
  display: flex;
  flex: 1 0 100%;
  height: 25%;

  @media screen and (min-width: $screen-md) {
    height: 30%;
  }
}

.game-button {

  flex: 1 0 50%;
  text-align: center;

  img {
    max-width: 20vw;
    opacity: .75;

    @media screen and (min-width: $screen-md) {
      max-width: 10vw;
    }
  }
}
