.game-buttons {
  display: grid;
  grid-column-gap: $spacer;
  grid-template-columns: 1fr 1fr;
}

.game-button {

  text-align: center;
  max-height: 20vh;

  svg {
    max-width: 80%;
    max-height: 80%;
    opacity: .6;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    svg {
      opacity: .8;
    }
  }
}
