.category-select {

  display: grid;
  grid-row-gap: $spacer-3;
  grid-column-gap: $spacer-3;
  grid-template-rows: auto;
  grid-template-columns: 1fr;

  @media screen and (min-width: $screen-sm) {
    grid-template-columns: 1fr 1fr;
  }

  &__category {

    label {
      position: relative;
      display: block;
      padding: $spacer;
      cursor: pointer;
      overflow: hidden;
      height: 100%;
      vertical-align: middle;
      color: $white;
      font-weight: bold;
      border-radius: $border-radius;

      &:after {
        position: absolute;
        right: -10px;
        top: calc(50% - 25px);
        display: block;
        width: 50px;
        height: 50px;
        background: url("assets/checkmark.svg") center center no-repeat;
        background-size: 50px 50px;
      }
    }

    input:checked {

      + label {
        opacity: 1;

        &:after {
          content: '';
        }
      }
    }
  }

  &__input {
    position: absolute;
    appearance: none;
    width: 0;
    height: 0;
  }
}
