.game-panel {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 2fr 1fr;
  grid-template-columns: auto;
  grid-row-gap: $spacer-2;
}

@import "GameHeader/gameHeader";
@import "GameContent/gameContent";
@import "GameButtons/gamebuttons";
