.game-content {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  word-break: break-word;
  hyphens: auto;

  &__endpanel {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__endpanel-header {
    font-size: $font-size-h2;
    font-weight: $font-weight-headings;

    @media screen and (min-width: $screen-md) {
      font-size: $font-size-h1;
    }
  }

  &__endpanel-content {
    flex: 1 1 100%;
    text-align: center;

    .btn + .btn {
      margin-top: $spacer;
    }

    @media screen and (min-width: $screen-sm) {
      .btn + .btn {
        margin-left: $spacer;
      }
    }
  }

  &__keyword {
    flex: 1 1 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: $font-size-h2;
    font-weight: $font-weight-headings;

    @media screen and (min-width: $screen-md) {
      font-size: $font-size-h1;
    }
  }

  &__buzzwords {
    flex: 1 1 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: $spacer;
    background-color: rgba($red, .1);
  }

  &__buzzword {
    flex: 1 1 100%;
    padding: $spacer-1 $spacer;
    color: darken($red, 20%);
    font-size: $font-size-base;

    @media screen and (min-width: $screen-md) {
      font-size: $font-size-lg;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
