.menu-buttons {

  padding: $spacer-5 0;
  text-align: center;

  .btn + .btn {
    margin-top: $spacer;
  }

  @media screen and (min-width: $screen-md) {
    .btn + .btn {
      margin-left: $spacer;
    }
  }
}
