.menu-buttons {

  padding: $spacer-5 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .btn:first-of-type {
    margin-bottom: $spacer;
  }

  @media screen and (min-width: $screen-sm) {
    flex-direction: row;

    .btn:first-of-type {
      margin-bottom: 0;
    }
  }
}
