.btn {
  display: inline-block;
  width: auto;
  height: auto;
  border: 0;
  cursor: pointer;
  color: $btn-default-color;
  padding: $btn-padding;
  font-size: $font-size-base;
  border-radius: $border-radius;
  transition: background-position 200ms ease, transform 150ms ease;

  background: linear-gradient($gradient-angle, $teal, $blue, $indigo);
  background-size: 300% 100%;

  // Color variants
  &--success {
    $hoverBg: adjust_hue($green, $focus-modifier-deg);
    $activeBg: adjust_hue($green, $active-modifier-deg);
    background: linear-gradient($gradient-angle, $green, $hoverBg, $activeBg);
    background-size: 300% 100%;
  }

  &--fail {
    $hoverBg: adjust_hue($red, $focus-modifier-deg);
    $activeBg: adjust_hue($red, $active-modifier-deg);
    background: linear-gradient($gradient-angle, $red, $hoverBg, $activeBg);
    background-size: 300% 100%;
  }

  // States
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-position: 50% 0;
  }

  &:active:not(:disabled),
  &.active:not(:disabled) {
    background-position: 100% 0;
    transform: scale(.985);
  }

  &:disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  // Size variants
  &--lg {
    padding: $btn-padding-lg;
    font-size: $font-size-lg;
  }

  // Buttons with icons in it
  svg, img {
    display: inline-block;
    max-width: 1rem;
    max-height: 1rem;
  }
}
