.form__group {
  margin-bottom: $spacer-3;

  label {
    display: block;
    margin-bottom: $spacer-2;
    font-weight: $font-weight-bold;
  }

  @media screen and (min-width: $screen-sm) {
    font-size: $font-size-lg;
  }
}

input:not([type=checkbox]):not([type=radio]), select {
  display: block;
  width: 100%;
  padding: $input-padding;
  background-color: $input-bg;
  color: $body-color;
  border: $input-border-width solid $input-border-color;
  border-radius: $border-radius;

  &:focus {
    border-color: $input-active-border-color;
    outline: none;
  }
}
