// Generate color backgrounds
@each $colorname, $color in $colors {
  .bg-#{$colorname} {
    background-color: $color;

    input:focus + &,
    input:checked + & {
      background-color: adjust_hue($color, $focus-modifier-deg);
    }
  }

  .bg-gradient-#{$colorname} {
    $gradient-color: adjust_hue($color, $focus-modifier-deg);
    background: linear-gradient($gradient-angle, $color, $gradient-color);

    input:focus + &,
    input:checked + & {

      $color-dark: adjust_hue($color, $active-modifier-deg);
      background: linear-gradient($gradient-angle, $color, $color-dark);
    }
  }
}
