// Generate color backgrounds
@each $colorname, $color in $colors {
  .bg-#{$colorname} {
    background-color: $color;

    input:focus + &,
    input:checked + & {
      background-color: adjust_hue($color, $focus-modifier);
    }
  }

  .bg-gradient-#{$colorname} {
    @include bg-gradient($color);

    input:focus + &,
    input:checked + & {

      $color-dark: adjust_hue($color, $focus-modifier / 2);
      @include bg-gradient($color-dark);
    }
  }
}
