html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  height: 100%;
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: $spacer;
  background: $white;
  border: $spacer solid $body-bg;
}

.panel-active-enter-active, .panel-active-leave-active {
  transition: top .3s ease-out;
}
.panel-active-enter, .panel-active-leave-to {
  top: 100vh;
}

.container {
  max-width: $screen-lg;
  margin: 0 auto;
}
