html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  //background: linear-gradient(-60deg, #013cc5, #8e58fe, #14e1da, #0b62f5);
  background: linear-gradient(-60deg, $blue, lighten($indigo, 10%), lighten($teal, 10%), $cyan);
  background-size: 300% 300%;
  animation: gradientBG 30s ease infinite;
}

.panel {
  position: absolute;
  top: $panel-margin-mobile + $panel-top-size;
  bottom: 0;
  width: calc(100% - #{$panel-margin-mobile * 2});
  margin: 0 $panel-margin-mobile;
  background: $white;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.07),
  0 -4px 4px rgba(0, 0, 0, 0.07),
  0 -8px 8px rgba(0, 0, 0, 0.07),
  0 -16px 16px rgba(0, 0, 0, 0.07),
  0 -32px 32px rgba(0, 0, 0, 0.07),
  0 -64px 64px rgba(0, 0, 0, 0.07);

  @media screen and (min-width: $screen-md) {
    top: $panel-margin + $panel-top-size;
    width: calc(100% - #{$panel-margin * 2});
    margin: 0 $panel-margin;
  }

  @media screen and (min-width: $screen-lg) {
    max-width: $screen-lg;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: -#{$panel-top-size};
    left: 0;
    right: 0;
    height: $panel-top-size;
    background: $white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
}

.panel-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 $spacer $spacer;
}

.panel-enter-active {
  animation: panelAnimMobile $panel-anim-speed forwards;

  @media screen and (min-width: $screen-md) {
    animation: panelAnim $panel-anim-speed forwards;
  }
}

.panel-leave-active {
  animation: panelAnimMobile $panel-anim-speed forwards reverse;

  @media screen and (min-width: $screen-md) {
    animation: panelAnim $panel-anim-speed forwards reverse;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes panelAnimMobile {
  0% {
    top: 10rem;
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    top: $panel-margin-mobile + $panel-top-size;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes panelAnim {
  0% {
    top: 10rem;
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    top: $panel-margin + $panel-top-size;
    opacity: 1;
    transform: scale(1);
  }
}
